/* CSS for text */
body {
    
    font-family: Arial, sans-serif;
    background-color: #111111;
    margin: 0;
    padding: 0px;
  }
  
  h1, h2 {
    font-family: "Palatino", serif;
    color: #dbdbdb;
    font-size: calc(2vw + 2vh);
  }
  
  h3, p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #bbbbbb;
    font-size: calc(1vw + 1vh);
  }

  h4, ul li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #bbbbbb;
    font-size: calc(0.8vw + 0.8vh);
  }
  
/* CSS for navbar*/

.navbar ul{
  list-style-type: none;
  background-color: #bbbbbb;
  padding:0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover{
  background-color: #555555;
}

.navbar li{
  float: left;
}
/* CSS for cards */
.card {
  display: flex;
  justify-content: space-between; /* Distribute space between text and image */
  align-items: center; /* Vertically center the text and image */
  max-width: 1200px; /* Element will never be wider than 1200px */
  width: 100%;       /* Width can shrink to fit smaller screens */
  margin: 20vh auto 20vh;    /* Center the element if its width is less than 1200px*/
  border: 10px solid #999999;
  border-radius: 20px;
  gap: 20px;
  opacity: 0;
  transform: translateY(100);
  transition: 1s;
}

.card #Pic{
  margin-top: 1vh;
  max-height: 373;
  width: auto;


}

.card #Projects{
  margin: 0vh auto 0vh;
}

.card.visible {
  transform: translateY(0);
  opacity: 1;
}

 #Greetings {
  text-align: center;
  margin-left: 10px;
  flex: 1 1 auto; 
  font-size: 2em;
  
}
#Pic {
  max-width: 100%; /* Ensure the image does not overflow its container */
  height: auto; /* Maintain the image's aspect ratio */
}

#About, #Experiences, #Projects{
  text-align: center;
  flex: 1 1 auto; 
  font-size: 2em;
}

#Experiences ul {
  text-align: left; /* Left-aligns the list items */
  padding-left: 20px; /* Adds some spacing from the left */
}

#Experiences ul li {
  list-style-position: inside; /* Ensures bullets are inside */
}

.project-card{
  max-width: 1200px; /* Element will never be wider than 1200px */
  width: 80%;       /* Width can shrink to fit smaller screens */
  margin: 4vh auto 4vh;    /* Center the element if its width is less than 1200px*/
  border: 10px solid #999999;
  border-radius: 20px;
  gap: 5px;
  opacity: 0;
  transform: translateX(100);
  transition: 1s;
}

.project-card.visible {
  transform: translateX(0);
  opacity: 1;
  text-align: left; /* Left-aligns the list items */
  padding-left: 20px; /* Adds some spacing from the left */
}

.project-card ul li{
  list-style-position: inside; /* Ensures bullets are inside */
}

/* Footer CSS */

/* All colors for SVG icons are done in the .svg files themselves */
footer h4{
  display: flex;
  justify-content: center;
}
.social-icons{
  display: flex;
  justify-content: center;
}
.social-icons img{
  width: 5vw;
  height: 5vh;

}